@charset "utf-8";

input, textarea, select, button{font-size:inherit;}
input, textarea, select{font-family:inherit; font-size:inherit; font-weight:inherit;}
[class^="btn"]{cursor:pointer;}

/* Product Regist CSS */
table{table-layout:fixed; width:auto; border:0; border-spacing:0;}
.container-wrap{min-height:100%;}
.container_inner{position:relative; width:100%; min-width:1084px;}
.container-wrap .container_inner .contents_wrap{width:100%; min-height:auto; padding-bottom:100px;}

.category_nav{padding-top:14px; height:25px; background:#fafafa; border-bottom:1px solid #ededed;}
.category_nav .inner{width:1084px; margin-left:auto; margin-right:auto;}
.category_nav .nav{float:left; margin-left:29px;}
.category_nav .nav ul li.now{color:#333; text-decoration:underline;}
.category_nav .nav ul li{position:relative; float:left; padding:0 9px 0 14px; line-height:14px; color:#666;}
.category_nav .nav ul li:before{content:''; position:absolute; top:2px; left:0; background-position:-165px -319px; width:5px; height:9px;}
.category_nav .nav ul li:before{background-image:url('/myapp/resources/image/common.png');}
.category_nav .nav ul li:first-child:before{background:none;}

.container-wrap .container_inner .contents_wrap .content_main{position:relative; width:1084px; margin:0 auto; height:100%; padding-top:30px;}

.content_main .headerTitle{padding-bottom:30px;}
.headerTitle h1{position:relative; font-size:30px; line-height:30px; font-weight:bold; vertical-align:middle; color:#333; }

.content_main .info_box{position:relative; float:left; display:block; margin-left:10px;}
.image-large{width:460px; height:460px;}
.image-small{width:100px; height:100px;}
.btn_add{overflow:hidden; text-indent:-150%; white-space:nowrap; font-size:1px; line-height:0; color:transparent; width:100%; height:100%; 
	box-sizing:border-box; border:1px solid #ededed; transition: .3s ease-out;}
.btn_add:before{content:""; position:absolute; top:50%; left:50%; margin:-1px 0 0 -8px; width:16px; height:2px; background-color:#565656; background-image:none; }
.btn_add:after{content:""; position:absolute; top:50%; left:50%; margin:-8px 0 0 -1px;  width:2px; height:16px;
	background-color:#565656; transform:rotate(180deg); -webkit-transform:rotate(180deg); background-image:none;}
.btn_add:hover{background-color:#f5f6f8;}
.info_box .thumb{width:100%; height:100%; text-align:center; border:1px solid #ededed; background:#fff; box-sizing:border-box; transition:.5s ease-out;}
.info_box .thumb img{max-width:100%; max-height:100%;}

table img{vertical-align:middle;}

.content_main table{position:relative; left:30px; border-top:1px solid #ededed; line-height:1.5px; background-color:#fff; border:1px solid #ededed;}
.content_main tbody th{padding:11px 15px 10px; vertical-align:middle; color:#333; background-color:#f3f3f3; border:1px solid #ededed; text-align:left; word-break:keep-all;
	font-family:'맑은 고딕', 'Malgun Gothic', 'Dotum', '돋움', 'arial', 'verdana', sans-serif;}
.formRequired{position:relative; display:inline-block; width:100%; transition:all .2s ease-out;}
.fText{height:32px; line-height:14px; max-width:100%; padding:0 9px 2px; font-size:14px; }
.fText.right{text-align:right;}

.product_selling_category ul li:before{background-image:url('/myapp/resources/image/common.png');}
.product_selling_category ul li:first-child:before{background:none;}
.product_selling_category{margin:10px 0 10px; padding:0; border:none; display:inline-block; }
.product_selling_category .commerce-category-list{width:105px; margin-right:5px; font-size:15px; display:inline-block; color:#757575; line-height:1.2;}
.product_selling_category .commerce-category-list select, .category{width:100%; padding:5px 10px; border:1px solid #E2E2E2; border-radius:2px; color:#666; text-align:left;}
.category{width:50px; margin-left:5px; background-image:url('/myapp/resources/image/select_arrow.png'); background-repeat:no-repeat; 
	background-position:calc(100% - 5px); background-size:12px;}
.product_selling_category ul li{position:relative; float:left; padding:0 9px 0 14px; line-height:14px; color:#666;}
.product_selling_category ul li:before{content:''; position:absolute; top:12px; left:3px; background-position:-165px -319px; width:5px; height:9px;}

.flabel{display:inline-block; position:relative; min-height:20px; margin:7px 28px 7px 0; padding:0 0 0 30px; line-height:18px; cursor:pointer; font-size:14px; color:#555;}	
.flabel input.fcheck{position:absolute; height:0; width:0; opacity:0; cursor:pointer;}
input[type="radio"]{background-image:url('/myapp/resources/image/bg_radio.png'); background-size:20px 20px;}
input[type="radio"]:checked{background-image:url('/myapp/resources/image/bg_radio_checked.png'); transition: .2s ease-out;}
.flabel .checkMark{position:absolute; top:0; left:5; height:18px; width:18px; border:1px solid #d4d4d4; background:#fff; transition:all .2s ease-out;}
.flabel input.fcheck:checked ~ .checkMark:after{display:block;}
.checkMark:after{display:none; content:""; position:absolute; left:5px; top:5px; width:8px; height:8px; border-radius:50%; background:#5FCAEC; transition:all .2s ease-out;}
.checkMark{border-color:#5FCAEC; border-radius:50%; background:#fff;}

#option_btn{position:relative; float:right; top:3px; right:8px; height:30px; color:#fff; padding:0 10px; font-size:13px; font-weight:normal; line-height:28px; 
	background-color:#7c7e8c; transition: .2s ease-out;}

.product-register-bar{margin:0 0 -1px 0; height:50px; box-sizing:border-box; border:1px solid #787d8f; background-color:#8b93a9;}
.product-register-bar h2{float:left; padding:13px 0 0 20px; font-size:16px; font-weight:normal; color:#fff;}
.bar-Area{display:flex; border:1px solid #ededed; padding-top:10px; padding-bottom:30px;}

.typeWrite td{height:32px; padding:10px 15px; line-height:24px; vertical-align:middle;}
.typeWrite tbody th[scope*='col']{padding:8px 5px; text-align:center; border:1px solid #ededed; vertical-align:middle;}
.option_first{display:block; margin-top:5px;}
.option_value_area{position:relative; display:flex; width:100%; min-height:34px;}
.option_value_area .box{flex:1; padding:2px 5px; border:1px solid #ededed;}
.box input[type="text"]{width:100%;}

.option_board_Area{display:block; margin-top:5px;}
.typebody{position:relative; overflow-x:hidden; overflow-y:scroll; min-height:100px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; 
	height:400px; max-height:none;}
.typebody td{border:0; border-bottom:1px solid #ededed; border-left:1px solid #ededed;}
.positive{background-color:#ffffe1;}
.txt_strong{color:#2e3039;}
.positive .right{text-align:right;}

.btnApply{display:block; text-align:center; width:65px; height:28px; padding:0 10px; color:#fff; font-size:13px; font-weight:normal; line-height:26px;
	border:1px solid #5FCAEC; background-color:#5FCAEC; transition: .2s ease-out;}
.btnApply .icoDel{position:relative; top:1px; left:-5px; display:inline-block; width:10px; height:10px; padding:0; vertical-align:baseline; line-height:0;}
.btnApply .icoDel:before{content:""; position:absolute; top:50%; left:50%; margin:-1px 0 0 -7px; width:13px; height:1px; background:#fff; 
	transform:rotate(135deg); -webkit-transform:rotate(135deg);}
.btnApply .icoDel:after{content:""; position:absolute; top:50%; left:50%; margin:-7px 0 0 -1px; width:1px; height:13px;
	background:#fff; transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}

.product-register-image{display:none;}

.thumbs{display:flex; flex-wrap:wrap; margin-left:-20px;}
.thumbs li{float:left; cursor:pointer;}
.thumbs .list-thumb-small{position:relative; margin:10px 0 10px 20px;}

.list-thumb-small .thumb-image{width:100%; height:100%; text-align:center; border:1px solid #ededed; background:#fff; box-sizing:border-box; transition:.5s ease-out;}

.product-register-add-image-tag{max-width:100%; max-height:100%;}
.border{border:1px solid #ededed;}

span.txt_byte{margin-left:5px;}
.txt_byte{vertical-align:bottom; color:#97989b;}
#product-register-detail-image-count{color:#5FCAEC; vertical-align:bottom;}

.info_product.wrap_button{position:absolute; top:527px; left:500px; min-height:auto;}
.wrap_button{margin-top:23px;}

.wrap_button .button_box .btn_sys.cart{width:271px; line-height:58px;}
.wrap_button .btn_sys{float:left; margin-right:10px; display:block; font-size:18px; box-sizing:border-box; margin-left:0; padding:0 5px; border:1px solid #c3c3c3;
	border-radius:3px; background:#fff; text-align:center; overflow:hidden;}
.wrap_button .btn_sys.red_big_xb{border-color:#5FCAEC; background-color:#5FCAEC; width:261px; line-height:58px; font-weight:bold; color:#fff;}

/* Product view*/
.layout{display:flex; flex-direction:column;}
.layout>*{flex:0 0 auto;}

.production-selling{position:relative; min-height:1px;}

.product-selling-category ul li:before{background-image:url('/myapp/resources/image/common.png');}
.product-selling-category ul li:first-child:before{background:none;}

.product-selling-category{display:inline-block; margin:20px 0 0; padding:0; border:none;}
.product-selling-category .commerce-category-list{display:inline-block; margin-right:5px; font-size:15px; color:#757575; line-height:1.2;}
.product-selling-category .commerce-category-list a{width:100%; padding:5px 10px; color:#757575;}

.product-selling-category ul li{position:relative; float:left; padding:0 9px 0 14px; line-height:14px; color:#666;}
.product-selling-category ul li:before{content:''; position:absolute; top:5px; left:0; background-position:-165px -319px; width:5px; height:9px;}

.product-selling-overview_container{margin-top:40px; margin-bottom:40px;}
.row{display:flex; flex-wrap:wrap; box-sizing:border-box; margin-right:-10px; margin-left:-10px;}

.product-selling-overview_cover-image-wrap{position:relative; width:100%; min-height:1px; box-sizing:border-box; flex:0 0 50%; max-width:50%; 
	padding-right:10px; padding-left:10px;}
.product-selling-overview_cover-image{display:flex; position:relative; align-items:flex-start; margin:0 30px 0 0;}
.product-selling_cover-image-wrap{border-radius:10px; flex:1 0 auto; overflow:hidden;}
.product-selling_cover-image_entry{position:relative; padding-bottom:100%; background-color:#ededed; flex:0 0 auto; box-sizing:border-box; width:100%;}
.product-selling_cover-image_entry_image{position:absolute; top:0; left:0; width:100%;}

.product-selling-overview_content{position:relative; width:100%; min-height:1px; box-sizing:border-box; flex:50%; max-width:50%; padding-right:10px; padding-left:10px;}

.production-selling-header{position:relative;}
.production-selling-header_title_brand-wrap{display:block; font-size:13px; font-weight:400; line-height:19px; color:#757575; margin:-3px 0 3px;}
.production-selling-header_title_name{display:block; font-size:25px; font-weight:400; line-height:34px; margin:0; color:#000; }

.production-selling-header_content{position:relative; min-height:46px;}
.production-selling-header_content_price{display:table; margin:20px 0 0;}
.production-selling-header_content_price_row{display:table-row;}
.production-selling-header_content_price_discount{display:table-cell; padding-right:5px; color:#5FCAEC; font-weight:900; vertical-align:bottom;}
.production-selling-header_content_price_discount>.number{font-size:44px; font-family:Tahoma,sans-serif;}
.production-selling-header_price_pirce-wrap{display:table-cell;}
.production-selling-header_price_original{display:block; margin:0 0 2px; font-size:15px; color:#757575;}
.production-selling-header_price_original>.number{font-family:Tahoma,sans-serif;}
.production-selling-header_price_original>.won{display:inline;}
.production-selling-header_price_price{line-height:1; font-size:20px; font-weight:700;}
.production-selling-header_price_price>.number{font-size:32px; font-weight:900; font-family:Tahoma,sans-serif;}
.production-selling-header_price_price>.won{font-size:28px; font-weight:400;}
.production-selling-header_price_price{display:block; color:#000;}

.production-selling-header_delivery{padding:13px 0; font-size:15px; line-height:21px; margin-top:20px; border-top:1px solid #ededed; border-bottom:1px solid #ededed;}
.production-selling-header_delivery_type{display:block; color:#424242; padding-bottom:10px;}
.production-selling-header_delivery_fee{width:51.7px; height:22px; margin:3px 2px 3px 0; vertical-align:-8px; 
	border:1px solid #ededed; border-radius:6px; background-color:#ededed; font-size:13px; padding:3px;}
.production-selling-header_delivery_disclaimer-wrap{position:relative; display:block; margin-top:3px; padding-left:15px; color:#757575; font-size:12px; line-height:18px;}
.production-selling-header_delivery_disclaimer-wrap:before{content:"※"; position:absolute; top:0; left:0; font:inherit;}

.production-selling-option-form.production-selling-overview_option-form{margin-top:10px; flex:1 1 auto; flex-direction:column;}
.selling-option-form-content{margin-top:20px; min-height:0; display:flex; flex-direction:column; flex:1 1 auto;}
.selling-option-form-content_contents{flex:0 0 auto;}
.selling-option-select-input{margin-bottom:10px;}
.selling-option-select-input_option.select-input:last-child{margin-bottom:0;}
.select-input{position:relative;}
.input-group{flex:1 0 auto;}
.selling-option-select-input_option.select-input>.form-control{border-color:#5FCAEC; font-size:15px; border-radius:4px;}
.selling-option-select-input_option.select-input>.form-control.empty{color:#424242;}
.select-input>.form-control{width:100%; padding-right:30px; background-image:none;}
.form-control{transition: .2s border-color, .2s box-shadow, .2s background-color; display:block; box-sizing:border-box; height:40px; width:100%; padding:0 15px; 
	line-height:40px; border-radius:4px; border:1px solid #dbdbdb; background-color:#ffffff; color:#424242; font-size:12px; flex:1 0 auto; }
.selling-option-select-input_option.select-input .select-input_icon{color:#5FCAEC;}
.select-input_icon{position:absolute; top:10px; right:10px; padding:5px; font-size:0; cursor:default; pointer-events:none;}
.selling-option-form-content .selling-option-form-content_list{flex:1 1 auto; overflow-y:auto;}

.selling-option-item_price_number, .selling-option-form-content_price_number{font-family:Tahoma,sans;}
.selling-option-form-content_price{display:flex; flex:0 0 auto; align-items:center; justify-content:space-between; margin-top:10px;}
.selling-option-form-content_price_left, .selling-option-form-content_price_right{font-size:20px; text-align:right; flex:0 0 auto; font-weight:700; color:#000;}

.production-selling-option-form_footer{display:flex; flex:0 0 auto; margin:20px -3px 0;}
.production-selling-option-form_footer>.button{flex:1 0 auto; margin:0 3px;}
.button-size-55{padding:13px 10px 14px; font-size:17px; line-height:26px;}
.button-color-blue-inverted{background-color:#fff; border-color:c3c3c3;}

.production-selling .sticky-container{position:-webkit-sticky; position:sticky; top:0px; z-index:999;}
.production-selling .sticky-child{position:relative; background-color:#fafafa; border-top:1px solid #ededed; border-bottom:1px solid #ededed; z-index:100; transition:top .1s;}
.product_selling_nav_content{padding:0 60px; max-width:1084px; margin:0 auto;}
.product_selling_nav_content-list{width:66.6666%; display:flex; border-bottom:1px solid #ededed;}
.product_selling_nav_content-list>li{-webkit-box-flex:1; flex:1 0 0px;}
li:first-child>.product_selling_nav_item{border-left:none;}
.product_selling_nav_item{position:relative; display:blcok; top:1px; margin:-1px 0 0 -1px; padding:14px 0 15px; box-sizing:border-box; text-align:center; 
	background-color:#fff; color:#424242; font-size:13px; line-height:20px; font-weight:700; border-color:transparent transparent #ededed #ededed; transition:color .1s;}
.product_selling_nav_item{display:block; left:1px; padding:14px 10px 15px; font-size:15px; background-color:#fafafa;}

.product_selling_nav_item-active{color:#5FCAEC; border-bottom:3px solid #5FCAEC; z-index:1;}
.product_selling_nav_content-list a:hover{color:#5FCAEC;}

.item_desc{width:1083px; float:left; position:relative; padding-top:30px; padding-bottom:50px;}
.cut.prd_detail{padding-bottom:90px; max-height:none;}
.prd_detail{position:relative; width:758px; margin-right:auto; margin-left:auto;}

.info_itemdetail .deal_detailimg{overflow:hidden;}

.deal_detailimg img{width:756px;}

.input-group .ico{float:left; width:26px; height:26px; text-indent:-9999px; display:inline-block;}
.input-group .ipt_count_chk{float:left; width:34px; padding:1px 0 0; border:solid 1px #c3c3c3; line-height:23px; 
	font-size:14px; text-align:center; font-family:'tahoma';}
.ico, .selling_price .btn.close{background-image:url('/myapp/resources/image/common.png');}
.down_count{background-position:-326px -198px;}
.up_count{background-position:-202px -198px;}

.countopt.sml{height:26px;}

.selling_price{float:right;}
.selling_price strong em{font-size:18px; line-height:30px; vertical-align:-1px;}
.selling_price .btn.close{background-position:-254px -269px; width:19px; height:19px; margin-left:7px;}
.btn{overflow:hidden; display:inline-block; vertical-align:-5px; text-indent:-9999px;}

/* Review part*/
.product_selling_section{margin:0 0 60px; padding:0;}
.product_selling_section-header{display:-webkit-box; display:-webkit-flex; display:flex; -webkit-box-pack:justify; justify-content:space-between; 
	-webkit-box-align:center; -webkit-align-items:center; align-items:center; margin:20px 0;}
.product_selling_section-header-title{font-size:18px; line-height:24px; font-weight:700; color:#000;}
.product_selling_section-right{font-size:15px; line-height:21px; font-weight:700; color:#000;}
.product_selling_section-right>button{color:#5FCAEC; transition:opacity .1s; font:inherit; margin:0; padding:0; background:none; border:none;}

/* Cart CSS */

.layout{display:flex; flex-direction:column; height:100%;}

.commerce-cart-empty{background-color: #f5f5f5; display: -webkit-box; display: -webkit-flex; display: flex;
	-webkit-box-flex:1; -webkit-flex:1 0 auto; flex:1 0 auto;}
.commerce-cart-empty_content{-webkit-box-flex:0; -webkit-flex:0 0 auto; flex:0 0 auto; width:100%; max-width:220px; margin:80px auto; box-sizing:border-box; text-align:center;}
.commerce-cart-empty_content_image{display:block; max-width:160px; margin:0 auto;}
.commerce-cart-empty_content_button{display:block; margin-top:30px; padding:11px 10px; font-size:17px; line-height:26px; }

.commerce-cart-wrap{position:relative; flex:1 0 auto; background-color:#f5f5f5;}

.container{margin-right:auto; margin-left:auto; width:1084px; max-width:100%; box-sizing:border-box; min-height:1px;}
.commerce-cart{position:relative;}
.row{display:flex; flex-wrap:wrap; box-sizing:border-box; margin-right:-10px; margin-left:-10px;}

.commerce-cart_content-wrap{position:relative; width:100%; min-height:1px; box-sizing:border-box; flex:0 0 0 0 66.6666666667%; 
	max-width:66.6666666667%; padding-right:10px; padding-left:10px; }
.commerce-cart_content{position:relative; margin:0; padding:30px 0;}

/* cart header wrap*/
.commerce-cart_header-wrap{z-index:100;}
.commerce-cart_header{display:flex; align-items:center; justify-content:space-between; box-sizing:border-box; 
	margin:0 0 11px; padding:0 21px; background:none; border:none; z-index:100;}
.commerce-cart_header_left, .commerce-cart_header_right{flex:0 0 auto;}

.commerce-cart_header_delete{display:inline-block; margin:2px -3px 0 0; padding:3px; background:none; border:none; color:#424242; 
	font-family:inherit; font-weight:400; font-size:12px; line-height:1;}

.commerce-cart_group{margin-bottom:12px; }
.commerce-cart_group_header{border:solid #ededed; border-width:1px 1px 0; border-radius:6px 6px 0 0; padding:10px 0; 
	font-size:15px; font-weight:500; line-height:20px; text-align:center; color:#424242; background-color:#fff;}
.commerce-cart_delivery-group{border:1px solid #ededed; border-radius:6px; border-top-left-radius:0; border-top-right-radius:0; margin-bottom:12px; background-color:#fff;}
.commerce-cart_delivery-group_product-item{border-bottom:1px solid #ededed;}

.carted-product{position:relative; padding:20px 15px 20px 54px;}
.carted-product_select{position:absolute; top:20px; left:20px;}
.round-checkbox-input{margin-bottom:0;}
.round-checkbox-input_label{position:relative; cursor:pointer; display:block; padding-left:24px; min-height:24px;}
.round-checkbox-input_input{position:absolute; left:-9999px; opacity:0;}
.round-checkbox-input_input:checked+.round-checkbox-input_icon{background-color:#5FCAEC; border-color:#5FCAEC;}
.round-checkbox-input_icon{position:absolute; top:0; left:0; display:inline-block; width:24px; height:24px; box-sizing:border-box; border-radius:100%;
	border:1px solid #dbdbdb; background-color:#fff; vertical-align:-6px; transition:background-color .2s,border-color .2s,box-shadow .2s;}
.round-checkbox-input_input:checked+.round-checkbox-input_icon>.check{opacity:1; visibility:visible; transition:opacity .2s;}
.round-checkbox-input_icon>.check{margin:-1px; opacity:0; visibility:none; transition:opacity .2s,visibility 0s .2s;}
.round-checkbox-input_label>.caption{display:inline-block; margin-left:10px; font-size:15px; line-height:20px; color:#424242;}

.product-small-item{display:-webkit-box; display:-webkit-flex; display:flex;}
.carted-product .product-small-item{margin:0 20px 12px 0;}

.product-small-item_image{position:relative; display:block; flex:0 0 auto; width:70px; height:70px; border-radius:6px; background-color:#ededed; overflow:hidden;}
.product-small-item_image>img{display:block; position:absolute; top:50%; left:50%; width:100%; transition:transform .2s; transform:translate(-50%,-50%) scale(1.0001);}

.product-small-item_content{flex:1 0 0px; padding-left:12px;}
.product-small-item_title{min-width:0; font-size:15px; font-weight:500; color:#000; line-height:21px; overflow-wrap:break-word; transition:opacity .1s;}
.product-small-item_caption{margin-top:8px; font-weight:400; font-size:11px; line-height:15px; color:#757575; overflow-wrap:break-wrap; }

.carted-product_delete{position:absolute; display:inline-block; top:15px; right:15px; padding:5px; background:none; border:none; 
	font-size:0; transition:opacity .1s; color:#424242;}

.selling-option-item{position:relative; margin:0 0 8px; padding:10px; background-color:#f5f5f5; border-radius:6px;}
.selling-option-item_name{padding:0 22px 10px 0; font-size:15px; font-weight:400; line-height:20px; color:#424242;}
.selling-option-item_delete{position:absolute; display:inline-block; top:0; right:0; padding:10px; 
	background:none; border:none; font-size:0; transition:opacity .1s; color:#757575;}
	
.selling-option-item_controls{display:flex; align-items:center; justify-content:space-between;}
.option-count-input{width:90px;}
.select-input{position:relative;}
.input-group{flex:1 0 auto;}
.option-count-input.select-input>.form-control{height:24px; padding:0 10px; padding-right:30px; font-size:13px; line-height:22px; 
	border-radius:3px; text-align:center; font-family:tahoma,sans;}
.select-input.input-group>.form-control{width:100%; background-image:none;}
.form-control{transition:.2s border-color, .2s box-shadow, .2s background-color; display:block; 
	box-sizing:border-box; border:solid 1px #dbdbdb; background-color:white; color:#424242; flex:1 0 auto;}
.option-count-input .select-input_icon{position:absolute; top:2px; right:5px; padding:5px; font-size:0; cursor:default; color:rgba(0,0,0,.3); pointer-events:none;}
	
.selling-option-item_price{flex:0 0 auto; font-size:15px; font-weight:700; line-height:24px; color:#424242;}
.selling-option-item_price_number{font-family:Tahoma,sans;}	

.carted-product_footer{display:flex; align-items:center; justify-content:space-between; margin-top:16px;}
.carted-product_footer_left{flex:0 0 auto; }
.carted-product_edit-btn, .carted-product_order-btn{position:relative; display:inline-block; margin:2px 0 0 -3px; padding:3px; background:none; border:none; color:#424242;
	font-family:inherit; font-weight:400; font-size:12px; line-height:1; transition:opacity .1s;}
.carted-product_order-btn:nth-child(n+2){margin-left:14px;}
.carted-product_order-btn:nth-child(n+2):before{content:""; position:absolute; display:block; top:4px; left:-7px; height:12px; border-left:1px solid #dbdbdb;}
.carted-product_order-btn:hover,.carted-product_order-btn:active,.carted-product_edit-btn:hover,.carted-product_edit-btn:active{opacity:.5;}

.carted-product_subtotal{flex:0 0 auto; color:#000; font-size:17px; font-weight:700; }
.carted-product_subtotal_number{font-family:Tahoma,sans;}

.commerce-cart_delivery-group_footer{display:block; position:relative; box-sizing:border-box; padding:10px 0; 
	font-size:15px; line-height:20px; text-align:center; color:#424242;}
	
/* Side bar */
.commerce-cart_side-bar-wrap{display:block; position:relative; width:100%; min-height:1px; box-sizing:border-box; 
	flex:0 0 33.3333333333%; max-width:33.3333333333%; padding-top:35px; padding-right:10px; padding-left:10px; }
.commerce-cart_side-bar{padding:30px 0;}
.commerce-cart_summary{margin:0 0 20px; border:1px solid #ededed; border-radius:6px; background-color:#fff; padding:10px 20px;}
.commerce-cart_summary_row{display:flex; align-items:center; justify-content:space-between; margin:20px 0; font-size:15px; font-weight:400; color:#424242;}
.commerce-cart_summary_row>dt, .commerce-cart_summary_row>dd{flex:0 0 auto; font-size:15px;}
.commerce-cart_summary_row>dd{font-weight:700; text-align:right;}
.commerce-cart_summary_row>dd .number{font-family:Tahmoa,sans;}
.commerce-cart_summary_row-total{margin:30px 0 20px; color:#000;}
.commerce-cart_summary_row-total>dt{font-weight:700;}
.commerce-cart_summary_row-total>dd{font-size:24px;}

.commerce-cart_side-bar_order_btn{display:block; width:100%; padding:11px 10px; font-size:17px; line-height:26px;}

/* Orders - Pre-order*/
#body{display:flex; flex-direction:column; flex:1 0 auto; min-height:1px;}
#pre_order{font-size:14px; width:760px; margin:40px auto 0;}

#title{position:relative; font-size:28px; font-weight:bold; letter-spacing:-0.3px; color:#000000; padding-bottom:10px;}

#pre_order>form>.panel{margin-top:50px;}
#pre_order>form>.panel>.title{display:flex; font-size:20px; padding-bottom:24px; font-weight:bold; line-height:1; color:#000000;
	border-bottom:2px solid #eee;}

#pre_order>form>.panel>.title>.title{flex:0 0 auto; padding-right:20px; min-width:140px; font-size:20px; box-sizing:border-box;}

#pre_order>form #order_productions{width:100%;}
#pre_order>form #order_productions td{border-bottom:1px solid #eee; box-sizing:content-box;}
#pre_order>form #order_productions td:first-child{border-right:1px solid #eee;}
#pre_order>form #order_productions div.information{display:flex; padding:10px;}
#pre_order>form #order_productions div.information>img{flex:0 0 auto; width:85px; height:85px; margin-right:10px; background-color:#f5f5f5;}
#pre_order>form #order_productions div.information>div{flex:1 0 auto;}
#pre_order>form #order_productions div.information>div>.name{font-size:15px; color:#424242; maegin-bottom:5px; font-weight:bold;}
#pre_order>form #order_productions div.information>div>.option{font-size:15px; color:#757575; margin-bottom:5px; word-break:break-word;}
#pre_order>form #order_productions div.information>div>.cost_count{display:flex; font-size:15px;}
#pre_order>form #order_productions div.information>div>.cost_count>.cost{color:#424242; font-weight:bold;}
#pre_order>form #order_productions div.information>div>.cost_count>.divider{color:#bdbdbd; padding:0 10px;}
#pre_order>form #order_productions div.information>div>.cost_count>.count{color:#bdbdbd;}

#pre_order>form #order_productions td.delivery_fee{width:120px; font-size:12px; text-align:center; color:#757575;}
#pre_order>form #order_productions td.delivery_fee>.type{margin-bottom:5px;}

.production .delivery_fee{border-left:1px solid #ededed;}

#pre_order>form>.panel>.input{padding-left:10px;}
#pre_order>form>.panel>.input>.field{display:flex; margin-top:20px;}
#pre_order>form>.panel>.input>.field>.label{flex:0 0 auto; width:140px; padding-left:10px; 
	font-size:15px; color:#424242; line-height:40px;}
#pre_order>form>.panel>.input>.field>.input{flex:1 0 0px; display:flex;}

#pre_order>form>.panel>.input>.field .non_edit{background-color:#eeeeee;}
#pre_order>form input[type=text].half, #pre_order>form input[type=number].half{width:50%;}
#pre_order>form input[type=text].quarter, #pre_order>form input[type=number].quarter{width:25%;}
#pre_order>form input[type=text], #pre_order>form input[type=number]{border:1px solid #dcdcdc; margin:0; padding:0 15px;
	line-height:38px; height:40px; box-sizing:border-box; font-size:14px;}
#pre_order>form input[type=text]+span, #pre_order>form input[type=text]+a{display:block; height:40px; line-height:40px; color:white;
	background:#5FCAEC; width:calc(25% - 10px); margin-left:10px; text-align:center; font-size:15px; font-weight:bold; cursor:pointer;
	border-radius:3px;}
	
#pre_order>form>.panel>.input>.field>.input.vertical{flex-direction:column;}
#pre_order>form input[type=text].full, #pre_order>form input[type=number].full{width:100%;}
#pre_order>form>.panel>.input>.field>.input.vertical>input:first-child{margin-bottom:10px;}
#pre_order>form>.panel>.input>.field>.input.phone>input{width:50%;}
#pre_order>form>.panel>.input>.field>.input #delivery_message{margin-bottom:3px;}
#pre_order>form>.panel>.input>.field>.input #delivery_alert{font-size:12px; color:#757575;}
	
#pre_order>form>.panel>.title>.button{flex:0 0 auto; font-size:13px; border-radius:3px; background-color:#fafafa;
	border:solid 1px #dcdcdc; padding:3px; cursor:pointer;}	
	
#pre_order>form>.panel>.all_cost{font-size:15px; padding:10px 10px 0; color:#424242;}
#pre_order>form>.panel>.all_cost>.cost_panel{margin-top:10px; display:flex;}	
#pre_order>form>.panel>.all_cost>.cost_panel>.title{flex:1 0 0px; font-size:15px;}		
#pre_order>form>.panel>.all_cost>.cost_panel>.amount{flex:1 0 0px; text-align:right; font-family:Tahoma; font-size:15px;}
#pre_order>form>.panel>.all_cost>.cost_panel.total{margin-top:20px; font-size:24px; font-weight:bold;}
#pre_order>form>.panel>.all_cost>.cost_panel.total>.amount{font-size:24px;}

#pre_order>form #confirm_checkbox{margin-top:40px; padding:0 10px;}
.form-check{font-size:15px; flex:1 1 auto;}
.form-check .form-check-label{cursor:pointer; display:block; margin-bottom:10px; padding-left:32px; min-height:22px; line-height:22px;
	position:relative;}
.form-check .form-check-label .form-check{left:-9999px; position:absolute; opacity:0;}
.form-check .form-check-label .check-img{box-sizing:border-box; height:22px; width:22px; border-radius:4px; 
	background-color:white; border:solid 1px #dbdbdb; display:block; transition:.2s ease; position:absolute; left:0; top:0;}

.form-check .form-check-label .form-check:not(:disabled):checked+.check-img{background-color:#5FCAEC; border-color:#5FCAEC;}
.form-check .form-check-label .check-img:after{background-image:url('/myapp/resources/image/ic-checkbox.png'); 
	content:""; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); box-sizing:border-box; display:block;
	width:14px; height:14px; background-size:14px; opacity:1;}

#pre_order>form #confirm_checkbox>.all_policy{display:flex;}	
#pre_order>form #confirm_checkbox>.all_policy>.title{flex:1 0 0px; font-size:12px; line-height:1; color:#757575;}
#pre_order>form #confirm_checkbox>.all_policy>.opener{flex:0 0 auto; font-size:12px; line-height:1;
	color:#bdbdbd; margin-left:10px; cursor:pointer;}
#pre_order>form #confirm_checkbox>.policies{margin-top:20px; border-top:1px solid #eee;}
#pre_order>form #confirm_checkbox>.policies>.policy>.title_panel{display:flex; margin-top:20px;}
#pre_order>form #confirm_checkbox>.policies>.policy>.title_panel>.title{flex:1 0 0px; font-size:13px; line-height:1; color:#424242;}
#pre_order>form #confirm_checkbox>.policies>.policy>.title_panel>.opener{flex:0 0 auto; font-size:12px; line-hieght:1;
	color:#bdbdbd; margin-left:10px; cursor:pointer;}

#pre_order>form #do_payment{margin:40px 10px 40px; text-align:center; color:white; font-weight:bold;
	font-size:24px; line-height:50px; background:#5FCAEC; border-radius:4px; cursor:pointer;}
	
/* Orders Result*/
#order_result{width:100%; max-width:370px; margin:48px auto; text-align:center;}
#order_result>.image{margin:0 auto 24px;}
#order_result>.image.success{width:160px; height:154px; background-image:url('/myapp/resources/image/mobile_order_group.png');
	background-position:top -101px left 0px; background-size:335px;}
#order_result>a>div{display:inline-block; padding:12px 24px; border:2px solid #5FCAEC; color:#5FCAEC; font-weight:bold;}

/*Orders cancel*/
#cancel_result{width:100%; max-width:370px; margin:48px auto 0; text-align:center;}
#cancel_result>.image.success_cancel{width:160px; height:172px; background-image:url('/myapp/resources/image/mobile_order_group.png');
	background-position:top -448px left 0px; background-size:335px;}
#cancel_result>.image{margin:0 auto 24px;}
#cancel_result>a>div{margin-top:10px; display:inline-block; padding:12px 24px; border:2px solid #5FCAEC; color:#5FCAEC; font-weight:bold; border-radius:3px;}

/*Purchase list*/
#wrapper{display:flex; flex-direction:column; min-height:1px; height:100%;}
.user_shopping_page.order_list>.order_status,.user_shopping_page.order_list>.my_mileage,.user_shopping_page.order_list>.order_list_set{max-width:1084px; width:100%; margin:30px auto 0; 
	background-color:#ffffff; box-sizing:border-box; box-shadow:0 1px 3px 0 rgba(0,0,0,0.2); overflow:hidden;}
.user_shopping_page.order_list>.my_mileage{padding:15px 0; height:80px;}
.user_shopping_page.order_list>.my_mileage>.slot{display:block; float:left; padding:8px 0; box-sizing:border-box; cursor:pointer; 
	width:33.3%; height:50px; text-align:center; font-size:0;}
.user_shopping_page.order_list>.my_mileage>.slot>.icon{position:relative; display:inline-block;}
.user_shopping_page.order_list>.my_mileage>.slot>.icon.coupon{width:54px; height:34px; 
	background-image:url('/myapp/resources/image/icon-point.png'); background-repeat:no-repeat; background-size:400px; background-position:top 0 left 0;}
.user_shopping_page.order_list>.my_mileage>.slot>.inform{display:inline-block; margin-left:15px; font-size:16px; line-height:34px; vertical-align:top;}
.user_shopping_page.order_list>.my_mileage>.slot>.count{display:inline-block; margin-left:10px; font-size:16px; font-weight:bold; 
	color:#5FCAEC; line-height:34px; vertical-align:top;}
.user_shopping_page.order_list>.my_mileage>.slot.center{border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.user_shopping_page.order_list>.my_mileage>.slot>.icon.mileage{width:54px; height:34px; 
	background-image:url('/myapp/resources/image/icon-point.png'); background-repeat:no-repeat; background-size:400px; background-position:top 0 left -74px;}
.icon-promotion, [class*=icon-promotion-]{background-image:url('/myapp/resources/image/icon-point.png');}
.icon{background-repeat:no-repeat; background-size:400px; display:inline-block;}
.icon-promotion-welcome{width:54px; height:35px; background-position:top -48px left -100px;}

.user_shopping_page.order_list>.order_status{text-align:center; padding:0 75px;}
.user_shopping_page.order_list>.order_status>.step{float:left; margin:39px 0 33px; cursor:pointer;}
.user_shopping_page.order_list>.order_status>.step>.title{font-size:18px; line-height:21px; width:70px; color:#424242; margin:0 0 33px;}
.user_shopping_page.order_list>.order_status>.step>.count{font-size:24px; line-height:24px; color:#5FCAEC; margin-left:0;}
.image_arrow{display:block; float:left; margin:62.5px 43.5px; width:15px; height:25px; 
	background-image:url('/myapp/resources/image/icon-pointer.png'); background-repeat:no-repeat; background-size:400px; background-position:top -35px left -351px;}

.user_shopping_page.order_list>.order_list_set{margin-bottom:30px; padding:30px 50px 40px;}
.user_shopping_page.order_list>.order_list_set>.order_filter{overflow:hidden;}
.user_shopping_page.order_list>.order_list_set>.order_filter>select{width:170px; height:40px; margin-right:15px; padding:0 15px;
	float:left; font-size:16px; line-height:40px; color:#424242; border:1px solid #dcdcdc;
	background-image:url('/myapp/resources/image/select_arrow.png'); background-repeat:no-repeat; background-color:#ffffff;
	background-position:calc(100% - 15px); background-size:18px;}

.user_shopping_page.order_list>.order_list_set>.order_list{padding:30px 0 40px; width:984px; color:#424242;}
.user_shopping_page.order_list>.order_list_set>.order_list>.head{padding:0 20px 20px; border-bottom:solid 2px #eeeeee; overflow:hidden; font-weight:700;}
.user_shopping_page.order_list>.order_list_set>.order_list>.head>.order_num{float:left; font-size:18px; line-height:24px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.head>a{float:right; font-size:13px; line-height:24px; overflow:hidden;}
.user_shopping_page.order_list>.order_list_set>.order_list>.head>a>div{float:left;}
.user_shopping_page.order_list>.order_list_set>.order_list>.head>a>div.image_arrow{margin:6px 0 5px 10px; width:7px; height:14px;
	background-image:url('/myapp/resources/image/icon-pointer.png'); background-repeat:no-repeat; background-size:400px; background-position:top 2px left -55px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order{padding:30px 20px; overflow:hidden;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>a>.image{margin:0 20px 0 0; float:left; width:90px; height:90px; background-size:cover; background-position:center;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_title{float:left; overflow:hidden; width:365px; font-weight:700; margin-right:40px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_title>.product_brand{display:block; font-size:15px; line-height:15px; 
	letter-spacing:-0.3px; margin-bottom:8px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_title>.product_name{display:block; font-size:20px; line-height:32px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail{float:left; overflow:hidden; margin-right:40px; width:245px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div.option_name{font-weight:normal; overflow:hidden; text-overflow:ellipsis; 
	display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-wrap:break-word; height:18px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div{margin-bottom:15px; font-size:18px; font-weight:lighter;
	line-height:18px; color:#424242; font-weight:normal;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div.cost{font-weight:normal; float:left; margin-right:16px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div.bar{display:none;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div.purchase_state{margin-bottom:6px; font-weight:normal; color:#5FCAEC;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div.purchase_state>span{color:#bdbdbd;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_info>.product_detail>div.purchase_state .purchase_state_text{color:#5FCAEC; }

.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_button{display:table; overflow:hidden; height:90px;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_button>.button{display:table-cell; vertical-align:middle;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_button>.button>a.write_comments{background-color:#5FCAEC; color:#ffffff;}
.user_shopping_page.order_list>.order_list_set>.order_list>.order>.product_button>.button>a{display:block; width:136px; border-radius:4px; border:solid 1px #5FCAEC; 
	text-align:center; font-size:16px; line-height:16px; padding:10px 0;}

.user_shopping_page.order_list>.order_list_set>.not_have_result{padding:40px 0 20px; text-align:center; font-size:18px; color:#424242;}