@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Reset */
head,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,table,th,td,pre{margin:0;padding:0; font-size:13px; font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}
body,input,select,textarea,button {border:none;font-size:11px; font-family:'돋움', sans-serif;color:#727272;}
body{position:relative; height:100%; font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}
input[type="text"]{outline-style:none; -webkit-appearance:none;}
button{margin:0; padding:0; background-color:transparent; cursor:pointer; touch-action:manipulation}
ul,ol,li{list-style:none;}
a{color:inherit; text-decoration:none;}
div{display:block;}
table{border-collapse:collapse; border-spacing:0;}
select{appearance:none; -webkit-appearance:none;}
select::-ms-expand{opacity:0;}

.home-footer{padding:20px 0 40px; padding-top:20px; text-align:center; font-family:dotum,sans-serif; font-size:12px; line-height:1.6; color:#555;}

.layout, .page, body, html{height:100%;}

.button{display:inline-block; margin:0; padding:0; user-select:none; box-sizing:border-box; border:1px solid transparent; background:none; font-family:inherit;
	font-weight:700; text-decoration:none; text-align:center; transition:color .1s,background-color .1s,border-color .1s; border-radius:4px; cusor:pointer;}
.button-color-blue{background-color:#5FCAEC; border-color:#5FCAEC; color:#fff;}
.hide {position:absolute; left:-5000px;}
.count{color:#5FCAEC; margin-left:4px;}
.t_bold{font-weight:bold; color:#424242;}
.clear {clear:both;}
.clear:after {content:""; display:block; clear:both;}