@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Reset */
head,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,table,th,td,pre{margin:0;padding:0; font-size:13px; font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}
body,input,select,textarea,button {border:none;font-size:11px; font-family:'돋움', sans-serif;color:#727272;}
body{position:relative; height:100%; font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}
input[type="text"]{outline-style:none; -webkit-appearance:none;}
button{margin:0; padding:0; background-color:transparent; cursor:pointer; touch-action:manipulation}
ul,ol,li{list-style:none;}
a{color:inherit; text-decoration:none;}
div{display:block;}
table{border-collapse:collapse; border-spacing:0;}
select{appearance:none; -webkit-appearance:none;}
select::-ms-expand{opacity:0;}

.layout, .page, body, html{height:100%;}

.button{display:inline-block; margin:0; padding:0; user-select:none; box-sizing:border-box; border:1px solid transparent; background:none; font-family:inherit;
	font-weight:700; text-decoration:none; text-align:center; transition:color .1s,background-color .1s,border-color .1s; border-radius:4px; cursor:pointer;}
.button-color-blue{background-color:#5FCAEC; border-color:#5FCAEC; color:#fff;}
.hide {position:absolute; left:-5000px;}
.count{color:#5FCAEC; margin-left:4px;}
.t_bold{font-weight:bold; color:#424242;}
.clear {clear:both;}
.clear:after {content:""; display:block; clear:both;}

/* Paging CSS */
.list-paginator{text-align:center;}
.list-paginator>li{display:inline-block; vertical-align:bottom; font-size:0;}

.list-paginator_page{display:block; min-width:26px; margin:0 2px; padding:5.5px 5px; box-sizing:border-box; border:none; background-color:transparent; border-radius:4px;
	font-family:inherit; font-size:15px; font-weight:700; line-height:1; color:#424242; transition:background-color .1s,color .1s;}
.list-paginator_page.selected{background-color:#5FCAEC; color:#fff; text-decoration:none;}
.list-paginator_page:hover{color:#5FCAEC;}

.list-paginator_next, .list-paginator_prev{marign:0; padding:0; border:none; font-size:0; transition:opacity .1s;}
.list-paginator_prev{margin-right:26px;}
.list-paginator_next{margin-left:26px;}

/*footer CSS*/
.home-footer{display:block; background-color:#fafafa; padding:20px 0 40px; padding-top:20px; font-family:dotum,sans-serif; font-size:12px; line-height:1.6; color:#555;}
.layout-footer_content{display:block; max-width:1084px; margin:0 auto; box-sizing:border-box;}
.layout-footer_shortcut{margin:0 -5px 10px;}
.layout-footer_shortcut>li{display:inline;}
.layout-footer_shorcut-item{display:inline-block; margin:0 3px; padding:2px; font-size:10px; font-weight:700; color:#424242; line-height:16px;}
.layout-footer_copyright{margin:10px 0 0; font-size:10px; color:#424242; line-height:16px;}