@charset "utf-8";

.member-wrapper-flex{min-width:290px; max-width:460px; padding:0 4.35%}
.member-wrapper{width:auto; margin:0 auto;}

.member-header{position:relative;}
.member-logo{margin:0 auto; padding:10.27% 0 0; text-align:center;}
.member-logo_link{background-image:url('/WiShopping/resources/image/logo_158_61.png'); position:relative; display:block; 
	width:33.83%; height:61px; max-width:158px; max-height:61px; margin:0 auto; color:transparent;}

.member-main{position:relative;}

.member_field-wrap{margin:2.9% 0 0;}
.member_input-field{position:relative;}

.member_expand-filed{margin:0; padding:0; border:0; display:block;}
.member_message-area-error{display:block; margin:9px 12px 0; padding:0; font-family:dotum,sans-serif; font-size:12px; 
	line-height:18px; cusor:default;}
	
.member_input-wrap{display:block; position:relative; height:46px; padding:0; border:1px solid #ccc; background-color:#fff; transition:border-color .25s ease;}
.member_input-group-icon-label{position:relative; float:left; display:inline; min-width:44px; height:100%; border-right:1px solid #ccc; background-color:#fafafa;}
.member_sprite-email{background-image:url('/WiShopping/resources/image/sprite-member.20171115.svg'), none; background-size:148px 148px; display:inline-block; width:1px; 
	vertical-align:middle; text-indent:1px; height:18px; padding-left:21px; background-position:1px 1px; position:absolute; 
	top:50%; left:50%; margin-left:-12px; margin-top:-8px;}
	
.member_input-group{position:relative; display:blcok; margin:0; overflow:hidden;}
.member_input{margin:0; height:46px; box-sizing:border-box; width:90%; padding:14px 0 12px; border:0 none; font-family:dotum,sans-serif; font-size:14px;
	line-height:20px; color:#111; font-weight:700; text-indent:12px;}
	
.member_sprite-pw{background-image:url('/WiShopping/resources/image/sprite-member.20171115.svg'), none; background-size:148px 148px; display:inline-block; width:1px; 
	vertical-align:middle; text-indent:1px; height:20px; padding-left:19px; background-position:-22px -1px; position:absolute; 
	top:50%; left:50%; margin-left:-10px; margin-top:-10px;}
	
.login_content-util{margin:12px 0 0;}

.login_content-util .member_checkbox{display:inline-block;}
.login_util_keep-login{float:left;}
.member_checkbox{position:relative; vertical-align:middle;}

input[type="checkbox"].member_checkbox_input{position:relative; width:24px; height:24px; margin:0; padding:0; border:0; border-radius:1px; vertical-align:middle;}
input[type="checkbox"].member_checkbox_input:before{content:''; display:block; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #ccc; border-radius:1px;
	background-color:#fff; box-shadow:inset 0 3px 0 rgba(0,0,0,0.05); transition: all 0.3s;}
input[type="checkbox"]:checked.member_checkbox_input:before{background:#5FCAEC; border-color:#5FCAEC;}
input[type="checkbox"]:checked.member_checkbox_input:after{content:""; background:url('/WiShopping/resources/image/ico_check.png') no-repeat center; 
	position:absolute; left:0; top:0; width:24px; height:24px; background-size:32px auto;}
	
.member_checkbox_label{display:inline; vertical-align:middle; color:#555; font-size:14px; line-height:24px;}

.login_link-find-email-pw{float:right; position:relative; padding-right:12px;}
.login_link{text-decoration:none; color:#5FCAEC; font-size:14px; line-height:24px; font-weight:700;}

.member_sprite-right-arrow{position:absolute; top:50%; right:0; margin-top:-7px; background-image:url('/WiShopping/resources/image/sprite-member_20171115.png'),none;
	background-size:148px 148px; display:inline-block; width:1px; vertical-align:middle; text-indent:1px; height:14px; padding-left:7px; background-position:-102px -22px;}
	
.login_content-trigger{margin:14px 0 0;}
.login_button-submit{background-color:#5FCAEC; color:#fff; box-shadow:inset 0 -2px 0 rgba(0,0,0,0.18); padding:16px 17px; font-size:17px; line-height:20px; 
	display:block; padding-left:0; padding-right:0; width:100%;}
.login_button{border:0; border-radius:2px; background-clip:padding-box; text-align:center; transition:background-color .75s ease; font-weight:700; text-decoration:none;}

.login_separtor{display:block; width:100%; height:0; margin:18px 0 0; padding:0; border:0; border-top:1px solid #ddd;}

.login_button.login_button-join{border:1px solid #ccc; background-color:#fff; color:#5FCAEC; box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15); 
	padding:16px 17px; font-size:17px; line-height:20px; display:block; padding-left:0; padding-right:0; margin:18px 0 0;}
	
.member-footer{padding:20px 0 40px; text-align:center; font-family:dotum,sans-serif; font-size:12px; line-height:1.6; color:#555;}

.member_message-area-Pw, .member_message-area-error{color:red;}

/* Password new CSS */
.sign-in-form-wrap{display:flex; height:100%; flex-direction:column; flex:1 0 auto; justify-content:center;}
.sign-in-form{width:100%; max-width:360px; padding:40px 30px; margin:0 auto; box-sizing:border-box;}

.sign-in-form_header{display:block; margin:0 0 30px; font-size:32px;}
.sign-in-form_header_link{display:block; text-align:center;}
.icon-page_link{width:158px; height:61px; background-position:left 0px top 0px;}
[class*=icon-page]{background-image:url('/WiShopping/resources/image/logo_158_61.png'); background-repeat:no-repeat; display:inline-block;}

.sign-in-form_form_input{display:block; width:100%; height:50px; margin:0; font-size:15px; line-height:50px; color:#424242;}

.form-control{box-sizing:border-box; padding:0 15px; border-radius:4px; border:1px solid #dbdbdb; background:#ffffff;
	flex:1 0 auto; transition:.2s border-color, .2s box-shadow, .2s background-color;}
.form-control:focus{outline:none; box-shadow:0 0 0 3px rgba(130,224,250,0.5);}

.sign-in-form_form_submit{display:block; width:100%; height:50px; margin:20px 0; padding:13px 15px; font-size:17px; line-height:1.41; background-color:#5FCAEC;
	border-color:#5FCAEC; color:#ffffff; transition:.2s ease; box-sizing:border-box; border-width:1px; border-style:solid; text-align:center; cursor:pointer;
	border-radius:4px; font-weight:bold; font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}

/* Password modify CSS */
#password-form, #mypage-request-form{display:flex; flex-flow:column; flex:1 0 auto; margin:50px auto; padding:30px; max-width:360px; width:100%; 
	border-radius:4px; box-sizing:border-box; background-color:#ffffff; box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);}
#password-form_logo, #mypage-request_logo{display:flex; position:relative; flex:0 0 auto; height:70px;  box-sizing:border-box; flex-flow:column;}

.container{width:1084px; margin-left:auto; margin-right:auto; box-sizing:border-box; max-width:100%; min-width:1px;}
.password-form_logo_container, .mypage-request_container{position:relative; height:100%;}

.password-form_logo_link, .mypage-request_logo_link{display:block; position:absolute; bottom:0;}
.icon_logo, .mypage-request_icon_logo{background-image:url('/WiShopping/resources/image/logo_158_61.png'); background-size:contain; display:inline-block; background-repeat:no-repeat;}
.icon, .mypage-request_icon{width:110px; height:45px;}

.password-form_title, .mypage-request-form_title{margin-bottom:15px; font-size:24px; font-weight:700; color:#424242;}

#password-form>form>input[type=text], #password-form>form input[type=password],
#mypage-request-form>form>input[type=text], #mypage-request-form>form input[type=password]{width:100%; margin:5px 0 10px; padding:0 20px; 
	box-sizing:border-box; font-size:16px; line-height:40px; border:1px solid #dcdcdc; height:40px;}
	
#mypage-request-user_email{background:#dbdbdb;}

#password-form>form>input[type=button],
#mypage-request-form>form>input[type=button]{width:100%; margin-top:15px; height:40px; background-color:#5FCAEC; border:none; border-radius:4px; 
	color:#ffffff; font-size:18px; font-weight:700; text-align:center; cursor:pointer; 
	font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}

/* Mypage request CSS */
.mypage-request-form_label{font-weight:normal;}

/* Mypage edit user info CSS */
.mypage-layout{display:flex; flex-direction:column;}

.edit-user-info_wrap.container{position:relative; margin:50px auto; box-shadow:0 1px 3px 0 rgba(0,0,0,.2); padding:50px; color:#292929;}

.edit-user-info_header{display:flex; align-items:center; margin-bottom:60px;}
.edit-user-info_header_title{flex:1 0 0px; font-size:24px; font-weight:700;}
.edit-user-info_header_withdrawal{font-size:14px; color:#ccc; text-decoration:underline;}

.edit-user-info_form-item{display:flex;}
.edit-user-info_form-item_title{padding-top:20px; width:100px; font-size:15px;}
.edit-user-info_form-item_title_require{margin-top:5px; font-size:13px; color:#757575;}

.edit-user-info_form-item_group{flex:1 0 0px; max-width:400px;}
.form-group{padding:20px 0;}
.email-input{display:flex;}
.input-group{flex:1 0 auto;}

.email-input_local{position:relative; flex:1 1 0px;}
.form-group.edit-user-info_form-item_group .form-control{text-align:left;}
.email-input_local>.form-control, .email-input_domain>.form-control, .edit-user-info_input>.form-control{width:100%; height:40px;}


.form-group_input .form-control{font-size:15px; border-radius:6px;}

.email-input_separator{flex:0 0 20px; text-align:center; line-height:40px; color:#dbdbdb;}

.email-input_domain{position:relative; flex:1 1 0px;}
.form-group.edit-user-info_form-item_group .form-control{text-align:left;}

.edit-user-info_form-item_group .edit-user-info_input{display:flex; width:100%; max-width:100%;}

.edit-user-info_submit{margin:50px 0 0 100px; width:290px; padding:11px 10px; font-size:17px; line-height:26px;
	background-color:#5FCAEC; border-color:#5FCAEC; color:#ffffff; box-sizing:border-box; border:1px solid #transparent;
	text-align:center; transition:color .1s,background-color .1s,border-color .1s; border-radius:4px; cursor:pointer;
	font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}

/* Modify withdrawal CSS */
#wrapper{display:flex; flex-direction:column; min-height:1px; height:100%; flex:1 0 auto;}
#body{display:flex; flex-direction:column; flex:1 0 auto; min-height:1px;}
#content{width:90%; margin:20px auto; padding:50px; max-width:1030px; box-sizing:border-box; overflow:hidden; font-size:24px;}
#content .title{font-weight:bold; font-size:24px; color:#424242;} 

#withdrawal{font-size:18px; overflow:hidden;}

#content form>.field{padding:50px 0 20px; overflow:hidden;}
#content form>.field>.title{font-size:18px;}
#content form>.field>.box{margin-top:20px; padding:10px 20px; border:1px solid #dcdcdc; font-size:15px; line-height:21px; word-break:keep-all; overflow:hidden;}

#content form>.field>.box>.title{padding:10px 0; font-size:15px;}
#content form>.field>.box>.text{padding-left:20px; padding-bottom:10px; font-size:15px;}
#content form>.field>.box>.text li{font-size:15px; margin-left:15px; margin-top:5px; list-style:inherit;}

#content form>.field>.box ul{list-style:inherit;}

#content form>.field>.confirm{margin-top:20px; position:relative;}

.view_confirm{position:relative; font-size:16px; color:#424242; padding:2px 0; z-index:1; line-height:initial;}
.confirm>.round-checkbox-input_label{display:inline-block; vertical-align:middle;}
#content span.alert{font-weight:bold; color:#ff7777;}

#content form .button{display:block; float:left; margin-top:30px; margin-right:10px; width:150px; height:40px; border:none; border-radius:4px;
	background-color:#5FCAEC; font-weight:bold; font-size:16px; color:#ffffff; line-height:41px; text-align:center;}
#content form input[type=button]{background-color:#bdbdbd;}



