em{font-style:normal;}
.product_selling_category ul li:before{background-image:url('/myapp/resources/image/common.png');}
.product_selling_category ul li:first-child:before{background:none;}

.product_selling{position:relative; min-height:1px; -webkit-flex:0 0 auto;}
.container{margin-right:auto; margin-left:auto; width:1084px; max-width:100%; box-sizing:border-box; min-height:1px; }
.product_selling_category{margin:20px 0 0; padding:0; border:none; display:inline-block; }
.product_selling_category .commerce-category-list{margin-right:5px; font-size:15px; display:inline-block; color:#757575; line-height:1.2;}
.product_selling_category .commerce-category-list a{width:100%; padding:5px 10px; color:#757575;}

.product_selling_category ul li{position:relative; float:left; padding:0 9px 0 14px; line-height:14px; color:#666;}
.product_selling_category ul li:before{content:''; position:absolute; top:5px; left:0; background-position:-165px -319px; width:5px; height:9px;}

.container_inner{position:relative; width:100%; min-width:1084px;}
.container_inner .contents_wrap{width:100%; min-height:auto; padding-bottom:100px;}
.content_main{position:static; line-height:16px; width:1084px; margin:0 auto; hegiht:100%;}

.info_box{display:block; position:relative; min-height:540px; margin-top:15px; padding:20px 0 0;}
.info_box .info_thumnail{float:left; width:460px;}
.info_thumnail .info_img_wrap{position:relative; width:460px; height:460px; background-color:#f5f5f5;}

.info_description{position:relative; float:right; width:552px;}
.info_description .info_product{min-height:373px;}

.info_description .info_product .product_header-title .product_header-title-brand-wrap{display:block; font-size:13px; font-weight:400; line-height:19px; margin:-3px 0 3px;}
.info_description .info_product .product_header-title .product_header-title-brand-wrap a{color:#757575;}
.info_description .info_product .product_header-title .product_header-title-name{display:block; font-size:25px; line-height:34px; 
	margin:0 0 20px 0; font-weight:400; color:#000;}
	
.info_description .info_product div.price{position:relative; padding:3px 0 6px;}
.info_description .info_product div.price .sale_price{font-size:18px; line-height:42px; color:#333;}

.num{font-family:'tahoma'; font-size:16px; color:#333;}
.info_description .info_product .sale_price .num{font-size:30px; line-height:34px; color:inherit; vertical-align:top; font-family:tahoma;}


.info_price_wrap{margin-top:6px; padding-top:28px; border-top:1px solid #ededed; padding-bottom:15px;}
.info_price_wrap dl.info_price{min-height:21px; line-height:21px;}

.shipping_select{width:60px; border:2px solid #E2E2E2; border-radius:5px;}
.shipping_select select{width:60px; padding:5px 7px;}
.info_price_wrap dl.info_price.shipping .ico{margin-top:4px; float:left; width:20px; height:14px;
background-image:url('/myapp/resources/image/deals.png'); background-position:-243px -218px; color:transparent; font-size:0px;}
.info_price_wrap dl.info_price dd{padding-left:40px; color:#666;}
.color_blue{color:#00a8d1;}
.info_price_wrap dl.info_price .line{display:inline-block; width:1px; height:11px; margin:-3px 8px 0; text-indent:-9999px; vertical-align:middle; background:#c3c3c3;}
.info_price_wrap dl.info_price.shipping p.today .text_etc{display:block; color:#999;}

.today select{width:25px; height:25px; padding:5px 7px; border:2px solid #E2E2E2; border-radius:2px;}

.box_optarea{margin-top:15px;}
.box_optarea .sel{width:40px; padding-top:0; padding-bottom:2px; display:inline-block; margin-top:3px; padding:2px 4px 1px 4px; background:#efeff0; border:1px solid #999999;
	line-height:17px; font-size:11px; color:#666666; text-align:center;}
.box_size_opt{margin-top:5px;}

.optselect_area{padding-top:10px;}
.box_optarea .optselect_area li{display:table; box-sizing:border-box; width:100%; table-layout:fixed; padding:16px 20px 14px 20px; 
	border:1px solid #ddd; background:#f9f9f9;}
.box_optarea .optselect_area .prdprice_left{display:table-cell; width:230px; padding-right:30px; vertical-align:middle; line-height:21px; color:#666;}
.box_optarea .optselect_area .prdprice_wrap{display:table-cell; width:250px; vertical-align:middle;}
.box_optarea .optselect_area .prdprice_wrap .countopt{position:relative; background-color:#fff; float:left; margin:4px 0 3px; overflow:hidden;}

.countopt.sml .ico{float:left; width:26px; height:26px; text-indent:-9999px; display:inline-block;}
.countopt.sml .ipt_count_chk{float:left; width:34px; padding:1px 0 0; border:solid 1px #c3c3c3; line-height:23px; 
	font-size:14px; text-align:center; font-family:'tahoma';}
.box_optarea .ico, .selling_price .btn.close{background-image:url('/myapp/resources/image/common.png');}
.box_optarea .down_count{background-position:-326px -198px;}
.box_optarea .up_count{background-position:-202px -198px;}

.countopt.sml{height:26px;}

.selling_price{float:right;}
.selling_price strong em{font-size:18px; line-height:30px; vertical-align:-1px;}
.selling_price .btn.close{background-position:-254px -269px; width:19px; height:19px; margin-left:7px;}
.btn{overflow:hidden; display:inline-block; vertical-align:-5px; text-indent:-9999px;}


.info_description .info_product.wrap_button{min-height:auto;}
.wrap_button{margin-top:23px;}

.wrap_button .button_box .btn_sys.cart{width:271px; line-height:58px;}
.wrap_button .btn_sys{float:left; margin-right:10px; display:block; font-size:18px; box-sizing:border-box; margin-left:0; padding:0 5px; border:1px solid #c3c3c3;
	border-radius:3px; background:#fff; text-align:center; overflow:hidden;}
.btn_sys.big_xl{line-height:58px; font-weight:bold; color:#333;}
.wrap_button .btn_sys.red_big_xb{border-color:#5FCAEC; background-color:#5FCAEC; width:261px; line-height:58px; font-weight:bold; color:#fff;}

.product_selling_nav_wrap{z-index:100; transition:top .1s;}
.sticky-container{position:-webkit-sticky; position:sticky; top:0px;}
.sticky-child{position:relative; background-color:#fafafa; border-top:1px solid #ededed; border-bottom:1px solid #ededed; z-index:100; transition:top .1s;}
.product_selling_nav_content{padding:0 60px; max-width:1084px; margin:0 auto;}
.product_selling_nav_content-list{width:66.6666%; display:flex; border-bottom:1px solid #ededed;}
.product_selling_nav_content-list>li{-webkit-box-flex:1; flex:1 0 0px;}

li:first-child>.product_selling_nav_item{border-left:none;}
.product_selling_nav_item{position:relative; display:blcok; top:1px; margin:-1px 0 0 -1px; padding:14px 0 15px; box-sizing:border-box; text-align:center; 
	background-color:#fff; color:#424242; font-size:13px; line-height:20px; font-weight:700; border-color:transparent transparent #ededed #ededed; transition:color .1s;}
.product_selling_nav_item{display:block; left:1px; padding:14px 10px 15px; font-size:15px; background-color:#fafafa;}

.product_selling_nav_item-active{color:#5FCAEC; border-bottom:3px solid #5FCAEC; z-index:1;}
.product_selling_nav_content-list a:hover{color:#5FCAEC;}

.item_desc{width:1083px; float:left; position:relative; padding-top:30px; padding-bottom:50px;}
.cut.prd_detail{padding-bottom:90px; max-height:none;}
.prd_detail{position:relative; width:758px; margin-right:auto; margin-left:auto;}

.info_itemdetail .deal_detailimg{overflow:hidden;}

/* Review part*/
.product_selling_section{margin:0 0 60px; padding:0;}
.product_selling_section-header{display:-webkit-box; display:-webkit-flex; display:flex; -webkit-box-pack:justify; justify-content:space-between; 
	-webkit-box-align:center; -webkit-align-items:center; align-items:center; margin:20px 0;}
.product_selling_section-header-title{font-size:18px; line-height:24px; font-weight:700; color:#000;}
.product_selling_section-right{font-size:15px; line-height:21px; font-weight:700; color:#000;}
.product_selling_section-right>button{color:#5FCAEC; transition:opacity .1s; font:inherit; margin:0; padding:0; background:none; border:none;}