<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	<!-- Notice write -->
	<insert id="write" parameterType="com.lee.myapp.domain.BoardVO">
		INSERT INTO BOARD(bno,category,subject,content,author,readcount,writedate,replycount)
		VALUES(bno_seq.nextval,#{category},#{subject},#{content},#{author},0,sysdate,0)
	</insert>
	
	<!-- Banner -->
	<insert id="bannerRegist">
		INSERT INTO TBL_BANNER(BNO,AREA,BANNER_ALT,BANNER_URL,BANNER_LINK)
		VALUES(TBL_BANNER_SEQ.NEXTVAL,#{area},#{banneralt},#{bannerurl},#{bannerlink})
	</insert>
	
	<select id="bannerList" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBL_BANNER
	<if test='_parameter != null and _parameter != "all"'>
		 WHERE BANNER_STATUS = 1
	</if>
		 ORDER BY BNO DESC
	</select>
	
	<update id="updateStatus">
		UPDATE TBL_BANNER
		<if test='status != null and status != 1'>
		   SET BANNER_STATUS = 0
		</if>
		<if test='status != null and status != 0'>
		   SET BANNER_STATUS = 1
		</if>
		 WHERE BNO = #{bno}
	</update>
	
	<select id="bannerView" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBL_BANNER
		 WHERE BNO = #{bno}
	</select>
	
	<update id="bannerUpdate">
		UPDATE TBL_BANNER
		   SET AREA = #{area}, 
	<if test="bannerurl != null">
		   	   BANNER_URL = #{bannerurl},
	</if>
		   	   BANNER_LINK = #{bannerlink},
		   	   BANNER_ALT = #{banneralt},
		   	   BANNER_STATUS = #{bannerstatus}
		 WHERE BNO = #{bno}
	</update>
</mapper>