<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<insert id="write" parameterType="com.lee.myapp.domain.BoardVO">
		INSERT INTO BOARD(bno,category,subject,content,author,readcount,writedate,replycount)
		VALUES(bno_seq.nextval,#{category},#{subject},#{content},#{author},0,sysdate,0)
	</insert>
</mapper>