<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Put the goods in the cart -->
<mapper namespace="cartMapper">
	<insert id="addCart">
		INSERT INTO TBL_CART
		VALUES(CARTNO_SEQ.NEXTVAL,#{mno},#{pno},#{cartstock},#{cartsize})
	</insert>
	
	<select id="cartList" resultType="com.lee.myapp.domain.CartListVO">
		SELECT 
    		ROW_NUMBER() OVER(ORDER BY a.CARTNO ASC) AS NUM,
   			a.CARTNO,a.MNO,a.PNO,a.CARTSIZE,a.CARTSTOCK,b.BRAND,b.PNAME,b.PRODUCT_THUMURL,b.PRICE,c.SHIPPING
   		  FROM TBL_CART a INNER JOIN PRODUCT b ON a.PNO = b.PNO INNER JOIN PRODUCT_OPTION c ON b.PNO = c.PNO
  		 WHERE a.PNO = b.PNO
    	   AND MNO = #{mno}
	</select>
	
	<update id="cartUpdate">
		UPDATE TBL_CART
		   SET CARTSTOCK=#{cartstock}
		 WHERE CARTNO=#{cartno}
		   AND PNO=#{pno}
		   AND MNO=#{mno}
	</update>
	
	<delete id="cartRemove">
		DELETE
		  FROM TBL_CART
		 WHERE CARTNO = #{cartno}
		   AND MNO = #{mno}
	</delete>
</mapper>