<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Put the goods in the cart -->
<mapper namespace="cartMapper">
	<insert id="addCart">
		INSERT INTO TBL_CART   
		SELECT CARTNO_SEQ.NEXTVAL,
		       #{mno} MNO,
		       (SELECT PNO FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono}) AS PNO,
		       #{ono} AS ONO,
		       (SELECT OPTION_COLOR FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono}) AS OPTIONCOLOR,
		       (SELECT OPTION_SIZE FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono}) AS OPTIONSIZE,
		       #{inventory} AS INVENTORY
		  FROM DUAL
	</insert>
	
	<select id="cartList" resultType="com.lee.myapp.domain.CartListVO">
		<!-- SELECT ROW_NUMBER() OVER(ORDER BY a.CARTNO ASC) AS NUM, 
			   a.CARTNO, a.MNO, A.PNO, a.OPTIONCOLOR, A.OPTIONSIZE, a.INVENTORY, b.BRAND, b.PNAME, b.PRODUCT_THUMURL, b.PRICE, b.SHIPPING_FEE
  		  FROM TBL_CART a INNER JOIN PRODUCT b ON a.PNO = b.PNO
 		 WHERE a.MNO = #{mno} -->
		SELECT ROW_NUMBER() OVER(ORDER BY a.CARTNO ASC) AS NUM, a.CARTNO, a.MNO, a.PNO, a.ONO, b.BRAND, b.PNAME, b.PRODUCT_THUMURL, b.PRICE, b.SHIPPING_FEE
		  FROM TBL_CART a INNER JOIN PRODUCT b ON a.PNO = b.PNO
		 WHERE a.MNO = #{mno}
	</select>
	
	<select id="cartOption" resultType="com.lee.myapp.domain.CartVO">
		SELECT *
		  FROM TBL_CART
		 WHERE MNO = #{mno}
	</select>
	
	<update id="cartUpdate">
		UPDATE TBL_CART
		   SET INVENTORY=#{inventory}
		 WHERE CARTNO=#{cartno}
		   AND PNO=#{pno}
		   AND MNO=#{mno}
	</update>
	
	<delete id="cartRemove">
		DELETE
		  FROM TBL_CART
		 WHERE PNO = #{pno}
		   AND MNO = #{mno}
	</delete>
	
	<delete id="cartOptionRemove">
		DELETE
		  FROM TBL_CART
		 WHERE CARTNO = #{cartno}
		   AND MNO = #{mno}
	</delete>
	
	<select id="existCart" resultType="String">
		SELECT CARTNO
		  FROM TBL_CART
		 WHERE ONO = #{ono}
		   AND MNO = #{mno}
	</select>
	
	<update id="upInventory">
		UPDATE TBL_CART
		   SET INVENTORY=INVENTORY+#{inventory}
		 WHERE CARTNO = #{cartno}
	</update>
</mapper>