<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="homeMapper">
	<select id="categoryList" resultType="com.lee.myapp.domain.CategoryVO">
		SELECT CNAME, CLASSIFY
		  FROM TBL_CATEGORY
		 WHERE DEPTH = 1
	</select>

	<select id="selectAllBest" resultType="com.lee.myapp.domain.ProductVO">
		<![CDATA[
			SELECT ROWNUM,X.*
			  FROM ( SELECT A.PNO, A.PNAME, A.PRICE, A.PRODUCT_THUMURL, B.SALES
			           FROM PRODUCT A INNER JOIN TBL_SALES_VOLUME B ON A.PNO = B.PNO
			          ORDER BY B.SALES DESC
			        ) X
			 WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="selectBest" resultType="com.lee.myapp.domain.ProductVO">
		<![CDATA[
			SELECT ROWNUM,X.*
			  FROM ( SELECT A.PNO, A.PNAME, A.PRICE, A.PRODUCT_THUMURL, B.SALES
			           FROM PRODUCT A INNER JOIN TBL_SALES_VOLUME B ON A.PNO = B.PNO
			          WHERE A.CATEGORY1 = #{data}
			          ORDER BY B.SALES DESC
			        ) X
			 WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="mainBannerList" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBl_BANNER
		 WHERE BANNER_STATUS = 1
		   AND AREA = #{area}
		 ORDER BY BNO DESC
	</select>
</mapper>