<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderMapper">
	<!-- Cart to order case for pre_order -->
	<select id="cartToOrderList" resultType="com.lee.myapp.domain.OrderListVO">
		 SELECT B.CARTNO, A.PNO, B.ONO, B.MNO, A.BRAND, A.PNAME, A.PRICE, A.PRODUCT_THUMURL, B.OPTIONCOLOR, B.OPTIONSIZE, B.INVENTORY, A.SHIPPING_FEE
		  FROM PRODUCT A INNER JOIN TBL_CART B ON A.PNO = B.PNO
		 WHERE B.MNO = #{mno}
		   AND B.ONO IN
		 <foreach collection="ono" item="ono" open="(" separator="," close=")">
		 	#{ono}
		 </foreach>
 		 ORDER BY A.PNO DESC
	</select>
	
	<!-- Product to order case for pre_order -->
	<select id="productToOrderList" resultType="com.lee.myapp.domain.OrderListVO">
		SELECT A.PNO, B.ONO, A.BRAND, A.PNAME, A.PRICE, A.PRODUCT_THUMURL, B.OPTION_COLOR, B.OPTION_SIZE, #{inventory} AS INVENTORY, A.SHIPPING_FEE
		  FROM PRODUCT A INNER JOIN TBL_PRODUCT_OPTION B ON A.PNO = B.PNO
		 WHERE B.ONO = #{ono}
	</select>

	<insert id="orderInfo">
		INSERT INTO TBL_ORDER(ONO,ORDERNO,MNO,ORDER_REC,ZIPCODE,RECEIVED_AT,RECEIVED_AT_DETAIL,RECEIVED_PHONE,DELIVERY_MESSAGE,PAYER_NAME,PAYER_EMAIL,PAYER_PHONE,AMOUNT, DELIVERY_STATUS)
		VALUES(TBL_ORDER_ONO_SEQ.NEXTVAL,#{orderno},#{mno},#{orderrec},#{zipcode},#{receivedat},#{receivedatdetail},#{receivedphone},#{deliverymessage},#{payername},#{payeremail},#{payerphone},#{amount}, #{deliverystatus})
	</insert>
	
	<!-- Cart To order case -->
	<insert id="cart_orderInfo_detail">
		INSERT INTO TBL_ORDER_DETAIL(ORDERDETAILNO, ORDERNO, PNO, ONO, OPTIONCOLOR, OPTIONSIZE, INVENTORY)
		SELECT TBL_ORDER_DETAIL_SEQ.NEXTVAL, #{orderno}, PNO, ONO, OPTIONCOLOR, OPTIONSIZE, INVENTORY
		  FROM TBL_CART
		 WHERE CARTNO IN
		 <foreach item="cartno" collection="cartno" open="(" separator="," close=")">
		 	#{cartno}
		 </foreach>
	</insert>
	
	<!-- Product to order case -->
	<insert id="product_orderInfo_detail">
		INSERT INTO TBL_ORDER_DETAIL(ORDERDETAILNO, ORDERNO, PNO, ONO, OPTIONCOLOR, OPTIONSIZE, INVENTORY)
		SELECT TBL_ORDER_DETAIL_SEQ.NEXTVAL AS ORDERDETAILNO,
		       #{orderno} AS ORDERNO,
		       (SELECT PNO FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono}) AS PNO,
		       #{ono} AS ONO,
		       (SELECT OPTION_COLOR FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono}) AS OPTIONCOLOR,
		       (SELECT OPTION_SIZE FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono})AS OPTIONSIZE,
		       #{inventory} AS INVENTORY
		  FROM TBL_PRODUCT_OPTION
		 WHERE ONO = #{ono}
	</insert>
	
	<!-- Delete cart when order completes successfully -->
	<delete id="cartDelete">
		DELETE
		  FROM TBL_CART
		 WHERE MNO = #{mno}
		   AND CARTNO IN
		  <foreach collection="cartno" item="cartno" open="(" separator="," close=")">
		 	#{cartno}
		 </foreach>
	</delete>
	
	<!-- Header banner -->
	<select id="mainBannerList" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBl_BANNER
		 WHERE BANNER_STATUS = 1
		   AND AREA = #{area}
		 ORDER BY BNO DESC
	</select>
	
	<!-- If you order, reflect this inventory to db -->
	<update id="updateInventory">
		UPDATE TBL_PRODUCT_OPTION
		   SET INVENTORY = INVENTORY - #{inventory}
		 WHERE ONO = #{ono}
	</update>
	
	<select id="checkInventory" resultType="Integer">
		SELECT INVENTORY
		  FROM TBL_PRODUCT_OPTION
		 WHERE ONO = #{ono}
	</select>
	
	<select id="cartCheckInventory" resultType="Integer">
		SELECT B.INVENTORY
		  FROM TBL_PRODUCT_OPTION A INNER JOIN TBL_CART B ON A.ONO = B.ONO
		 WHERE B.CARTNO = #{cartno}
	</select>
	
	<update id="cartUpdateSalesVolume">
		UPDATE TBL_SALES_VOLUME
		   SET SALES = SALES + (SELECT INVENTORY FROM TBL_CART WHERE CARTNO = #{cartno})
		 WHERE PNO = (SELECT PNO FROM TBL_CART WHERE CARTNO = #{cartno})
	</update>
	
	<update id="productToUpdateSalesVolume">
		UPDATE TBL_SALES_VOLUME
		   SET SALES = SALES + #{inventory}
		 WHERE PNO = (SELECT PNO FROM TBL_PRODUCT_OPTION WHERE ONO = #{ono})
	</update>
</mapper>