<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="productMapper">
	<!-- Category Register -->
	<insert id="register">
		INSERT ALL
		INTO PRODUCT(PNO,CATEGORY1,CATEGORY2,PNAME,BRAND,PRICE,PRODUCT_URL,PRODUCT_THUMURL,SHIPPING_FEE,SHIPPING_DAY) 
			VALUES(pno_seq.nextval,#{category1},#{category2},#{pname},#{brand},#{price},#{producturl},#{productthumurl},#{shippingfee},#{shippingday})
		INTO TBL_SALES_VOLUME VALUES(TBL_SALES_VOLUME_SEQ.NEXTVAL,PNO_SEQ.CURRVAL,0)
		SELECT * FROM DUAL
	</insert>
	
	<insert id="register_option">
		INSERT INTO TBL_PRODUCT_OPTION(ONO,PNO,OPTION_COLOR,OPTION_SIZE,INVENTORY)
			VALUES(ono_seq.nextval,pno_seq.currval,#{optioncolor},#{optionsize},#{inventory})
	</insert>
	
	<!-- Cateogry list -->
	<select id="list" resultType="com.lee.myapp.domain.ProductVO">
		SELECT *
		  FROM PRODUCT
		 WHERE CATEGORY1=#{category} 
		 ORDER BY PNO DESC
	</select>
	
	<select id="view" resultType="com.lee.myapp.domain.ProductVO">
		SELECT PNO, CATEGORY1, CATEGORY2, PNAME, BRAND, PRICE, PRODUCT_THUMURL, PRODUCT_URL, SHIPPING_FEE, SHIPPING_DAY
		  FROM PRODUCT
		 WHERE PNO = #{pno}
	</select>
	
	<select id="view_option" resultType="com.lee.myapp.domain.ProductOptionVO">
		SELECT ONO, ROW_NUMBER() OVER(ORDER BY ONO ASC) AS SEQUENCE, PNO, OPTION_COLOR, OPTION_SIZE, INVENTORY
		  FROM TBL_PRODUCT_OPTION
		 WHERE PNO = #{pno}
		 ORDER BY ONO ASC
	</select>
	
	<select id="checkInventory" resultType="int">
		SELECT INVENTORY 
		  FROM TBL_PRODUCT_OPTION
		 WHERE ONO = #{ono}
	</select>
	
	<!-- Header banner -->
	<select id="mainBannerList" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBl_BANNER
		 WHERE BANNER_STATUS = 1
		   AND AREA = #{area}
		 ORDER BY BNO DESC
	</select>
</mapper>