<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="promotionsMapper">
	<!-- Header banner -->
	<select id="mainBannerList" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBl_BANNER
		 WHERE BANNER_STATUS = 1
		   AND AREA = #{area}
		 ORDER BY BNO DESC
	</select>
	
	<select id="promotionList" resultType="com.lee.myapp.domain.PromotionsVO">
		SELECT A.PNO, A.SUBJECT, A.THUMBNAIL_URL, A.IMAGES_URL, A.STARTDATE, A.ENDDATE, A.STATUS ,COUNT(B.PNO) AS COMMENT_COUNT
		  FROM TBL_PROMOTIONS A LEFT OUTER JOIN TBL_PROMOTIONS_COMMENT B ON A.PNO = B.PNO
		<if test='_parameter != null and _parameter != "all"'>
			 WHERE STATUS = 1
		</if>
		 GROUP BY A.PNO, A.SUBJECT, A.THUMBNAIL_URL, A.IMAGES_URL, A.STARTDATE, A.ENDDATE, A.STATUS
		 ORDER BY PNO DESC
		 
		 
	</select>
	
	<insert id="promotionRegist">
		INSERT INTO TBL_PROMOTIONS(PNO, SUBJECT, THUMBNAIL_URL, IMAGES_URL, STARTDATE, ENDDATE)
		VALUES(TBL_PROMOTIONS_PNO_SEQ.NEXTVAL,#{subject},#{thumbnailurl},#{imagesurl},#{startdate},#{enddate})
	</insert>
	
	<!-- End of promotion if promotion period is over -->
	<update id="endPromotion">
		<![CDATA[
			UPDATE TBL_PROMOTIONS
			   SET STATUS = 0
			 WHERE PNO IN (
			    SELECT PNO
			      FROM TBL_PROMOTIONS
			     WHERE ENDDATE < TO_CHAR(SYSDATE,'YYYY-MM-DD') 
			       AND STATUS = 1
			)
		]]>
	</update>
	
	<select id="promotionView" resultType="com.lee.myapp.domain.PromotionsVO">
		SELECT *
		  FROM TBL_PROMOTIONS
		 WHERE PNO = #{pno}
	</select>
	
	<update id="updateStatus">
		UPDATE TBL_PROMOTIONS
		   SET STATUS = #{status}
		 WHERE PNO = #{pno}
	</update>
	
	<delete id="deletePromotion">
		DELETE
		  FROM TBL_PROMOTIONS
		 WHERE PNO = #{pno}
	</delete>
	
	<update id="modifyPromotion">
		UPDATE TBL_PROMOTIONS
		   SET SUBJECT = #{subject},
		<if test="thumbnailurl != null">
			   THUMBNAIL_URL = #{thumbnailurl},
		</if>
			   IMAGES_URL = #{imagesurl},
			   STARTDATE = #{startdate},
			   ENDDATE = #{enddate},
			   STATUS = #{status}
	</update>
	
	<!-- Reply -->
	<insert id="commentRegist">
		INSERT INTO TBL_PROMOTIONS_COMMENT(RNO,PNO,MNO,CONTENT,REPLY_TIME)
		VALUES(TBL_PROMOTIONS_REPLY_SEQ.NEXTVAL,#{pno},#{mno},#{content},SYSDATE)
	</insert>
	
	<select id="commentList" resultType="com.lee.myapp.domain.PromotionsCommentVO">
		SELECT B.RNO,B.PNO,A.MNO,A.NAME,B.CONTENT,TO_CHAR(B.REPLY_TIME,'YYYY-MM-DD HH24:MI:SS') AS REPLY_TIME
		  FROM MEMBER A INNER JOIN TBL_PROMOTIONS_COMMENT B ON A.MNO = B.MNO
		 ORDER BY B.REPLY_TIME DESC
	</select>
	
	<select id="commentListPaging" resultType="com.lee.myapp.domain.PromotionsCommentVO" parameterType="com.lee.myapp.domain.Criteria">
		<![CDATA[
			SELECT *
			  FROM(
			       SELECT ROWNUM AS RNUM, A.*
			         FROM(    
			              SELECT B.RNO,B.PNO,A.MNO,A.NAME,B.CONTENT,TO_CHAR(B.REPLY_TIME,'YYYY-MM-DD HH24:MI:SS') AS REPLY_TIME
			                FROM MEMBER A INNER JOIN TBL_PROMOTIONS_COMMENT B ON A.MNO = B.MNO
			               WHERE B.PNO = #{pno}
			               ORDER BY B.REPLY_TIME DESC
			         ) A
			        WHERE ROWNUM <= #{rowEnd}
			      )
			 WHERE RNUM >= #{rowStart}
		]]>
	</select>
	
	<select id="CommentlistCount" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_PROMOTIONS_COMMENT
		 WHERE PNO = #{pno}
	</select>
</mapper>