<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="purchaseMapper">
	<select id="purchaseList" resultType="com.lee.myapp.domain.PurchaseVO">
		SELECT ROW_NUMBER() OVER(PARTITION BY A.ORDERNO ORDER BY A.ORDERNO DESC) AS NUM,A.ORDERNO,B.PNO,B.ONO,A.ORDERDATE,C.BRAND,C.PNAME,C.PRODUCT_THUMURL,B.OPTIONCOLOR, B.OPTIONSIZE, B.INVENTORY, C.PRICE, A.DELIVERY_STATUS, A.REVIEW_STATUS
		  FROM TBL_ORDER A INNER JOIN TBL_ORDER_DETAIL B ON A.ORDERNO = B.ORDERNO INNER JOIN PRODUCT C ON B.PNO = C.PNO
		 WHERE A.MNO = #{mno}
		 ORDER BY ORDERDATE DESC, NUM ASC
	</select>
	
	<select id="ordernoList" resultType="com.lee.myapp.domain.OrderVO">
		SELECT ORDERNO,ORDERDATE
		  FROM TBL_ORDER
 		 WHERE MNO = #{mno}
 		 ORDER BY ORDERDATE DESC
	</select>
	
	<!-- Detail View -->
	<select id="viewOrderNo" resultType="com.lee.myapp.domain.OrderVO">
		SELECT *
		  FROM TBL_ORDER
		 WHERE ORDERNO=#{orderno}
	</select>
	<select id="viewOrder" resultType="com.lee.myapp.domain.PurchaseVO">
		SELECT ROW_NUMBER() OVER(PARTITION BY C.PNO ORDER BY C.PNO DESC) AS NUM,A.ORDERNO,B.PNO,A.ORDERDATE,C.BRAND,C.PNAME,C.PRODUCT_THUMURL,B.OPTIONCOLOR, B.OPTIONSIZE, B.INVENTORY, C.PRICE, C.SHIPPING_FEE, A.DELIVERY_STATUS
		  FROM TBL_ORDER A INNER JOIN TBL_ORDER_DETAIL B ON A.ORDERNO = B.ORDERNO INNER JOIN PRODUCT C ON B.PNO = C.PNO
		 WHERE A.ORDERNO = #{orderno}
 		 ORDER BY C.PNO ASC
	</select>
	
	<!-- Header banner -->
	<select id="mainBannerList" resultType="com.lee.myapp.domain.BannerVO">
		SELECT *
		  FROM TBl_BANNER
		 WHERE BANNER_STATUS = 1
		   AND AREA = #{area}
		 ORDER BY BNO DESC
	</select>
</mapper>